@using Business.ViewModels.Admin.OurVisionComponent
@model OurVisionComponentIndexVM

<h1 class="h3 mb-2 text-gray-800">Our Vision Component</h1>

<a class="btn btn-info mb-3" asp-action="Create" asp-controller="ourvisioncomponent">Create</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ourVisionComponent in Model.OurVisionComponents)
        {
            <tr>
                <td>@ourVisionComponent.Id</td>
                <td>@ourVisionComponent.Title</td>
                <td>@ourVisionComponent.Description</td>
                <td>
                    <img width="100" src="~/assets/images/@ourVisionComponent.Photoname " />
                </td>
                <td>
                    @if (!ourVisionComponent.IsDeleted)
                    {
                        <span class="text-success">Active</span>
                    }
                    else
                    {
                        <span class="text-danger">Non-Active</span>
                    }
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="ourvisioncomponent" asp-route-id="@ourVisionComponent.Id" class="btn btn-danger btn-delete">Delete</a>
                    <a asp-action="Update" asp-controller="ourvisioncomponent" asp-route-id="@ourVisionComponent.Id" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(".btn-delete").on("click", (e) => {
            e.preventDefault()

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    let link = e.target.getAttribute("href")
                    fetch(link).then(res => {
                        //console.log(res.ok)
                        if (res.ok == true) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then(() => {
                                window.location.reload()
                            })

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: '<a href="">Why do I have this issue?</a>'
                            })
                        }
                    })
                }
            })
        })
    </script>
    }