@using Business.ViewModels.Basket
@model List<BasketVM>
<!-- main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame-2 no-select" style="background-image: url(assets/images/cart-frame.jpg);">
        <div class="main-frame-2-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-2-title-text custom-title-text">
                            Cart
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-2-breadcrumb">
                            Home / Cart
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- product-table section starts -->
    <section class="product-table no-select">
        <div class="container">
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Count</th>
                        <th scope="col">Stock Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        @foreach (var basketProduct in Model)
                        {
                            <tr id="@basketProduct.Id">
                                <td><img style="max-width: 200px" src="~/assets/img/@basketProduct.PhotoName"/></td>
                                <td>@basketProduct.Title</td>
                                <td>@basketProduct.Count</td>
                                <td>@basketProduct.StockQuantity</td>
                                <td>
                                    <a class="btn btn-success" asp-route-id="@basketProduct.Id" asp-action="increase" asp-controller="basket">+</a>
                                    <a class="btn btn-danger" asp-route-id="@basketProduct.Id" asp-action="decrease" asp-controller="basket">-</a>
                                    <a class="btn btn-danger" asp-route-id="@basketProduct.Id" asp-action="delete" asp-controller="basket">Delete</a>
                                </td>
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>
    </section>
    <!-- product-table section ends -->


</main>
<!-- main ends -->